---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
    <article>
        <header>
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div>
            {{ post.blocks.content|raw }}
        </div>
        {% import "linklist.html" as linklist %}
        {% if post.meta.categories %}
        <h4>Categories</h4>
            <p class="categories">
              {{ linklist.linklist(post.meta.categories, "/blog/categories/", " ፨ ") }}
            </p>
        {% endif %}
        {% if post.meta.tags %}
        <h4>Tags</h4>
            <p class="tags">
              {{ linklist.linklist(post.meta.tags, "/blog/tags/", " ↂ ") }}
            </p>
        {% endif %}    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
